# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/email/prim.yaml + packages/email/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: email.prim.sh API
  version: 1.0.0
  description: Mailboxes on demand. Send, receive, webhook. Disposable or permanent.
servers:
  - url: https://email.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - not_found
                - forbidden
                - invalid_request
                - stalwart_error
                - conflict
                - username_taken
                - jmap_error
                - expired
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    CreateMailboxRequest:
      type: object
      properties:
        username:
          type: string
          description: Desired username. Omit for random generation.
        domain:
          type: string
          description: Domain for the mailbox (must be registered). Omit for default domain.
        ttl_ms:
          type: number
          description: TTL in milliseconds. Omit for permanent mailbox.
    DeleteDomainResponse:
      type: object
      required:
        - id
        - deleted
      properties:
        id:
          type: string
          description: Domain registration ID that was deleted.
        deleted:
          type: string
          description: Always true on success.
        warning:
          type: string
          description: Warning message if domain had active mailboxes.
    DeleteMailboxResponse:
      type: object
      required:
        - id
        - deleted
      properties:
        id:
          type: string
          description: Mailbox ID that was deleted.
        deleted:
          type: string
          description: Always true on success.
    DeleteWebhookResponse:
      type: object
      required:
        - id
        - deleted
      properties:
        id:
          type: string
          description: Webhook ID that was deleted.
        deleted:
          type: string
          description: Always true on success.
    DnsRecord:
      type: object
      required:
        - type
        - name
        - content
      properties:
        type:
          type: string
          description: DNS record type (e.g. "MX", "TXT").
        name:
          type: string
          description: DNS record name (hostname).
        content:
          type: string
          description: DNS record value.
        priority:
          type: number
          description: MX priority. Only present for MX records.
    DomainResponse:
      type: object
      required:
        - id
        - domain
        - status
        - owner_wallet
        - created_at
        - verified_at
        - required_records
      properties:
        id:
          type: string
          description: Domain registration ID.
        domain:
          type: string
          description: Registered domain name.
        status:
          type: string
          description: Verification status ("pending" | "verified").
        owner_wallet:
          type: string
          description: Ethereum address of the domain owner.
        created_at:
          type: string
          description: ISO 8601 timestamp when the domain was registered.
        verified_at:
          type:
            - string
            - "null"
          description: ISO 8601 timestamp when the domain was verified. Null if unverified.
        required_records:
          type: array
          items:
            $ref: "#/components/schemas/DnsRecord"
          description: DNS records that must be added to verify the domain.
        dkim_records:
          type: array
          items:
            $ref: "#/components/schemas/DnsRecord"
          description: DKIM DNS records. Only present after successful verification.
    EmailAddress:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type:
            - string
            - "null"
          description: Display name. Null if not present.
        email:
          type: string
          description: Email address string.
    EmailDetail:
      type: object
      required:
        - id
        - from
        - to
        - subject
        - received_at
        - size
        - has_attachment
        - preview
        - cc
        - text_body
        - html_body
      properties:
        id:
          type: string
          description: Message ID.
        from:
          $ref: "#/components/schemas/EmailAddress"
          description: Sender address.
        to:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
          description: Recipient addresses.
        subject:
          type: string
          description: Email subject line.
        received_at:
          type: string
          description: ISO 8601 timestamp when the message was received.
        size:
          type: number
          description: Message size in bytes.
        has_attachment:
          type: boolean
          description: Whether the message has attachments.
        preview:
          type: string
          description: Short preview text (first ~100 chars of body).
        cc:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
          description: CC recipient addresses.
        text_body:
          type:
            - string
            - "null"
          description: Plain-text body. Null if not present.
        html_body:
          type:
            - string
            - "null"
          description: HTML body. Null if not present.
    EmailMessage:
      type: object
      required:
        - id
        - from
        - to
        - subject
        - received_at
        - size
        - has_attachment
        - preview
      properties:
        id:
          type: string
          description: Message ID.
        from:
          $ref: "#/components/schemas/EmailAddress"
          description: Sender address.
        to:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
          description: Recipient addresses.
        subject:
          type: string
          description: Email subject line.
        received_at:
          type: string
          description: ISO 8601 timestamp when the message was received.
        size:
          type: number
          description: Message size in bytes.
        has_attachment:
          type: boolean
          description: Whether the message has attachments.
        preview:
          type: string
          description: Short preview text (first ~100 chars of body).
    MailboxResponse:
      type: object
      required:
        - id
        - address
        - username
        - domain
        - status
        - created_at
        - expires_at
      properties:
        id:
          type: string
          description: Mailbox ID (e.g. "mbx_abc123").
        address:
          type: string
          description: Full email address (e.g. "abc123@mail.prim.sh").
        username:
          type: string
          description: Username portion of the email address.
        domain:
          type: string
          description: Domain portion of the email address.
        status:
          type: string
          description: 'Current status: "active" | "expired" | "deleted".'
        created_at:
          type: string
          description: ISO 8601 timestamp when the mailbox was created.
        expires_at:
          type:
            - string
            - "null"
          description: ISO 8601 timestamp when the mailbox expires. Null if permanent.
    RegisterDomainRequest:
      type: object
      required:
        - domain
      properties:
        domain:
          type: string
          description: Domain name to register (e.g. "myproject.com").
    RegisterWebhookRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: HTTPS URL to receive webhook POST requests.
        secret:
          type: string
          description: HMAC secret for X-Prim-Signature verification.
        events:
          type: array
          items:
            type: string
          description: Events to subscribe to. Defaults to ["message.received"].
    RenewMailboxRequest:
      type: object
      properties:
        ttl_ms:
          type: number
          description: Extension duration in milliseconds. Omit to apply default TTL.
    SendMessageRequest:
      type: object
      required:
        - to
        - subject
      properties:
        to:
          type: string
          description: Recipient email address.
        subject:
          type: string
          description: Email subject line.
        body:
          type: string
          description: Plain-text body. Either body or html is required.
        html:
          type: string
          description: HTML body. Either body or html is required.
        cc:
          type: string
          description: CC recipient email address.
        bcc:
          type: string
          description: BCC recipient email address.
    SendMessageResponse:
      type: object
      required:
        - message_id
        - status
      properties:
        message_id:
          type: string
          description: Message ID assigned by the mail server.
        status:
          type: string
          enum:
            - sent
          description: Always "sent" on success.
    VerificationResult:
      type: object
      required:
        - type
        - name
        - expected
        - found
        - pass
      properties:
        type:
          type: string
          description: DNS record type checked.
        name:
          type: string
          description: DNS record name checked.
        expected:
          type: string
          description: Expected DNS record value.
        found:
          type:
            - string
            - "null"
          description: Actual DNS record value found. Null if not found.
        pass:
          type: boolean
          description: Whether the record matched the expected value.
    VerifyDomainResponse:
      type: object
      required:
        - id
        - domain
        - status
        - verified_at
      properties:
        id:
          type: string
          description: Domain registration ID.
        domain:
          type: string
          description: Domain name.
        status:
          type: string
          description: Updated verification status.
        verified_at:
          type:
            - string
            - "null"
          description: ISO 8601 timestamp when the domain was verified. Null if not yet verified.
        verification_results:
          type: array
          items:
            $ref: "#/components/schemas/VerificationResult"
          description: Per-record verification results.
        dkim_records:
          type: array
          items:
            $ref: "#/components/schemas/DnsRecord"
          description: DKIM records to add to DNS. Only present on successful verification.
    WebhookResponse:
      type: object
      required:
        - id
        - url
        - events
        - status
        - created_at
      properties:
        id:
          type: string
          description: Webhook ID (e.g. "wh_abc123").
        url:
          type: string
          description: Webhook endpoint URL.
        events:
          type: array
          items:
            type: string
          description: Subscribed events.
        status:
          type: string
          description: Webhook status.
        created_at:
          type: string
          description: ISO 8601 timestamp when the webhook was created.
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: email.sh
                  status:
                    type: string
                    example: ok
  /v1/mailboxes:
    post:
      operationId: createMailbox
      summary: "Create a mailbox. Optional: username, domain, ttl_ms."
      security:
        - x402: []
      x-price: $0.05
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMailboxRequest"
      responses:
        "201":
          description: "Create a mailbox. Optional: username, domain, ttl_ms."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailboxResponse"
        "400":
          description: Missing fields or invalid characters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "409":
          description: Username already in use on that domain
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listMailboxes
      summary: List mailboxes owned by the calling wallet (paginated)
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: after
          in: query
          description: Cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: List mailboxes owned by the calling wallet (paginated)
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/mailboxes/{id}:
    get:
      operationId: getMailbox
      summary: Get mailbox metadata including expires_at
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Get mailbox metadata including expires_at
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailboxResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteMailbox
      summary: Permanently delete a mailbox and all messages
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Permanently delete a mailbox and all messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMailboxResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/mailboxes/{id}/renew:
    post:
      operationId: renewMailbox
      summary: Extend mailbox TTL by ttl_ms milliseconds
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewMailboxRequest"
      responses:
        "200":
          description: Extend mailbox TTL by ttl_ms milliseconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailboxResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Mailbox already expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/mailboxes/{id}/messages:
    get:
      operationId: listMessages
      summary: List messages in a mailbox, newest first
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: after
          in: query
          description: Position-based cursor for pagination
          schema:
            type: integer
      responses:
        "200":
          description: List messages in a mailbox, newest first
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/mailboxes/{id}/messages/{msgId}:
    get:
      operationId: getMessage
      summary: Get full message including textBody and htmlBody
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: msgId
          in: path
          required: true
          description: msgId parameter
          schema:
            type: string
      responses:
        "200":
          description: Get full message including textBody and htmlBody
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailDetail"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox or message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/mailboxes/{id}/send:
    post:
      operationId: sendMessage
      summary: Send email from a mailbox. Requires to, subject, and body or html.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "200":
          description: Send email from a mailbox. Requires to, subject, and body or html.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageResponse"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream Stalwart mail server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/mailboxes/{id}/webhooks:
    post:
      operationId: registerWebhook
      summary: Register a webhook URL for message.received events. Optional secret for HMAC signing.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterWebhookRequest"
      responses:
        "201":
          description: Register a webhook URL for message.received events. Optional secret for HMAC signing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          description: Missing or invalid webhook URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Duplicate webhook URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listWebhooks
      summary: List webhooks for a mailbox
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: List webhooks for a mailbox
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/mailboxes/{id}/webhooks/{whId}:
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: whId
          in: path
          required: true
          description: whId parameter
          schema:
            type: string
      responses:
        "200":
          description: Delete a webhook
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWebhookResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Mailbox or webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/domains:
    post:
      operationId: registerDomain
      summary: Register a custom domain. Returns required_records for DNS.
      security:
        - x402: []
      x-price: $0.05
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterDomainRequest"
      responses:
        "201":
          description: Register a custom domain. Returns required_records for DNS.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainResponse"
        "400":
          description: Invalid domain name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "409":
          description: Domain already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listDomains
      summary: List registered custom domains (paginated)
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: after
          in: query
          description: Cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: List registered custom domains (paginated)
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/domains/{id}:
    get:
      operationId: getDomain
      summary: Get domain details and verification status
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Get domain details and verification status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteDomain
      summary: Remove a custom domain registration
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Remove a custom domain registration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteDomainResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/domains/{id}/verify:
    post:
      operationId: verifyDomain
      summary: "Verify DNS records. On success: status → verified, dkim_records returned."
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: "Verify DNS records. On success: status → verified, dkim_records returned."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyDomainResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource owned by a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: DNS verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
