# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/gate/prim.yaml + packages/gate/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: gate.prim.sh API
  version: 1.0.0
  description: Access control and onboarding for agents. Invite codes, allowlisting, wallet funding.
servers:
  - url: https://gate.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - invalid_code
                - code_redeemed
                - not_configured
                - fund_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    FundingDetail:
      type: object
      required:
        - usdc
        - eth
        - usdc_tx
        - eth_tx
      properties:
        usdc:
          type: string
          description: USDC amount funded as decimal string (e.g. "5.00").
        eth:
          type: string
          description: ETH amount funded as decimal string (e.g. "0.001").
        usdc_tx:
          type: string
          description: USDC transfer transaction hash.
        eth_tx:
          type: string
          description: ETH transfer transaction hash.
    RedeemRequest:
      type: object
      required:
        - code
        - wallet
      properties:
        code:
          type: string
          description: Invite code (e.g. "PRIM-a1b2c3d4").
        wallet:
          type: string
          description: EVM wallet address to allowlist and fund (0x... checksummed).
    RedeemResponse:
      type: object
      required:
        - status
        - wallet
        - funded
      properties:
        status:
          type: string
          enum:
            - redeemed
          description: Always "redeemed" on success.
        wallet:
          type: string
          description: Checksummed wallet address that was funded.
        funded:
          $ref: "#/components/schemas/FundingDetail"
          description: Funding details.
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: gate.sh
                  status:
                    type: string
                    example: ok
  /v1/redeem:
    post:
      operationId: redeemInvite
      summary: Redeem an invite code. Wallet is allowlisted and funded with USDC + ETH.
      description: Free. No x402 payment required. One-time per code.
      security:
        - x402: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RedeemRequest"
      responses:
        "200":
          description: Redeem an invite code. Wallet is allowlisted and funded with USDC + ETH.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedeemResponse"
        "400":
          description: Invite code not recognized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Invite code already used
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "501":
          description: Beta funding not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: On-chain transfer failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
