# Generated by gen:openapi — do not edit by hand
# Source: packages/imagine/prim.yaml + packages/imagine/src/api.ts
# Regenerate: pnpm gen:openapi --force

openapi: 3.1.0
info:
  title: imagine.prim.sh API
  version: 1.0.0
  description: Media generation for agents. Images, video, audio. Any model, one API. No API keys.
servers:
  - url: https://imagine.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - not_found
                - rate_limited
                - provider_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    DescribeRequest:
      type: object
    DescribeResponse:
      type: object
    GenerateRequest:
      type: object
    GenerateResponse:
      type: object
    ModelsResponse:
      type: object
    UpscaleRequest:
      type: object
    UpscaleResponse:
      type: object
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: imagine.sh
                  status:
                    type: string
                    example: ok
  /v1/generate:
    post:
      operationId: generate
      summary: Generate an image from a text prompt. Returns base64 or URL.
      security:
        - x402: []
      x-price: $0.02
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateRequest"
      responses:
        "200":
          description: Generate an image from a text prompt. Returns base64 or URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateResponse"
        "400":
          description: Missing or invalid prompt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/describe:
    post:
      operationId: describe
      summary: Describe an image. Accepts base64 or URL. Returns text description.
      security:
        - x402: []
      x-price: $0.005
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeRequest"
      responses:
        "200":
          description: Describe an image. Accepts base64 or URL. Returns text description.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeResponse"
        "400":
          description: Missing or invalid image input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/upscale:
    post:
      operationId: upscale
      summary: Upscale an image to higher resolution. Accepts base64 or URL.
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpscaleRequest"
      responses:
        "200":
          description: Upscale an image to higher resolution. Accepts base64 or URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpscaleResponse"
        "400":
          description: Missing or invalid image input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/models:
    get:
      operationId: listModels
      summary: List available image models with capabilities and pricing.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: List available image models with capabilities and pricing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelsResponse"
        "502":
          description: Unable to fetch model list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
