# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/mem/prim.yaml + packages/mem/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: mem.prim.sh API
  version: 1.0.0
  description: Vector store and cache for agents. Persist long-term knowledge and session state.
servers:
  - url: https://mem.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - not_found
                - forbidden
                - invalid_request
                - qdrant_error
                - embedding_error
                - rate_limited
                - collection_name_taken
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    CollectionResponse:
      type: object
      required:
        - id
        - name
        - owner_wallet
        - dimension
        - distance
        - document_count
        - created_at
      properties:
        id:
          type: string
          description: Collection ID (UUID).
        name:
          type: string
          description: Collection name. Unique per wallet.
        owner_wallet:
          type: string
          description: Ethereum address of the collection owner.
        dimension:
          type: number
          description: Embedding vector dimension (e.g. 1536 for text-embedding-3-small).
        distance:
          type: string
          description: 'Distance metric: "Cosine" | "Euclid" | "Dot".'
        document_count:
          type:
            - number
            - "null"
          description: Live Qdrant points_count — null in list responses to avoid N+1 calls.
        created_at:
          type: string
          description: ISO 8601 timestamp when the collection was created.
    CreateCollectionRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Collection name. Unique per wallet.
        distance:
          type: string
          enum:
            - Cosine
            - Euclid
            - Dot
          description: Distance metric for similarity search. Default "Cosine".
        dimension:
          type: number
          description: Vector dimension. Must match the embedding model used. Default 1536.
    GetCacheResponse:
      type: object
      required:
        - namespace
        - key
        - value
        - expires_at
      properties:
        namespace:
          type: string
          description: Cache namespace (collection name).
        key:
          type: string
          description: Cache key.
        value:
          type: string
          description: Stored value.
        expires_at:
          type:
            - string
            - "null"
          description: ISO string expiry time, or null if permanent.
    QueryMatch:
      type: object
      required:
        - id
        - score
        - text
        - metadata
      properties:
        id:
          type: string
          description: Document ID.
        score:
          type: number
          description: Similarity score (higher = more similar).
        text:
          type: string
          description: Original document text.
        metadata:
          type: string
          description: Document metadata.
    QueryRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          description: Query text to embed and search against.
        top_k:
          type: number
          description: Number of nearest neighbors to return. Default 10.
        filter:
          type: string
          description: Qdrant-native filter passthrough.
    QueryResponse:
      type: object
      required:
        - matches
      properties:
        matches:
          type: array
          items:
            $ref: "#/components/schemas/QueryMatch"
          description: Nearest neighbor matches, ordered by descending score.
    SetCacheRequest:
      type: object
      required:
        - value
      properties:
        value:
          type: string
          description: Value to store. Any JSON-serializable value.
        ttl:
          type:
            - number
            - "null"
          description: TTL in seconds. Omit or null for permanent.
    UpsertDocument:
      type: object
      required:
        - text
      properties:
        id:
          type: string
          description: Must be UUID v4 if provided; omit to auto-generate.
        text:
          type: string
          description: Document text to embed and store.
        metadata:
          type: string
          description: Arbitrary JSON metadata to store alongside the vector.
    UpsertRequest:
      type: object
      required:
        - documents
      properties:
        documents:
          type: array
          items:
            $ref: "#/components/schemas/UpsertDocument"
          description: Documents to upsert. Existing IDs are overwritten.
    UpsertResponse:
      type: object
      required:
        - upserted
        - ids
      properties:
        upserted:
          type: number
          description: Number of documents upserted.
        ids:
          type: array
          items:
            type: string
          description: IDs of upserted documents (auto-generated UUIDs if not provided).
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: mem.sh
                  status:
                    type: string
                    example: ok
  /v1/collections:
    post:
      operationId: createCollection
      summary: Create a vector collection
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
      responses:
        "201":
          description: Create a vector collection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "400":
          description: Missing name or invalid fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "409":
          description: Name already exists for this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream Qdrant error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listCollections
      summary: List collections owned by the calling wallet (paginated). document_count is null — use GET :id.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: after
          in: query
          description: Cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: List collections owned by the calling wallet (paginated). document_count is null — use GET :id.
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Resource belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/collections/{id}:
    get:
      operationId: getCollection
      summary: Get collection with live document_count from Qdrant
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Get collection with live document_count from Qdrant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Resource belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream Qdrant error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteCollection
      summary: Delete collection and all documents. Irreversible.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Delete collection and all documents. Irreversible.
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Resource belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream Qdrant error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/collections/{id}/upsert:
    post:
      operationId: upsertDocuments
      summary: "Embed and store documents. Each document: {id?, text, metadata?}. Existing IDs are replaced."
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertRequest"
      responses:
        "200":
          description: "Embed and store documents. Each document: {id?, text, metadata?}. Existing IDs are replaced."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertResponse"
        "400":
          description: Missing documents or invalid fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Resource belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Embedding model error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/collections/{id}/query:
    post:
      operationId: queryCollection
      summary: "Semantic search. Fields: text (required), top_k, filter (Qdrant native format)."
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: "Semantic search. Fields: text (required), top_k, filter (Qdrant native format)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "400":
          description: Missing text or invalid filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Resource belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Embedding model error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/cache/{namespace}/{key}:
    put:
      operationId: setCache
      summary: Store a value in the KV cache. Optional ttl in seconds for expiry.
      security:
        - x402: []
      x-price: $0.0001
      parameters:
        - name: namespace
          in: path
          required: true
          description: namespace parameter
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: key parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetCacheRequest"
      responses:
        "200":
          description: Store a value in the KV cache. Optional ttl in seconds for expiry.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Missing value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
    get:
      operationId: getCache
      summary: Retrieve a cache value. Returns 404 if missing or expired.
      security:
        - x402: []
      x-price: $0.0001
      parameters:
        - name: namespace
          in: path
          required: true
          description: namespace parameter
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: key parameter
          schema:
            type: string
      responses:
        "200":
          description: Retrieve a cache value. Returns 404 if missing or expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCacheResponse"
        "402":
          description: x402 payment required.
        "404":
          description: Cache entry missing or expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteCache
      summary: Delete a cache entry
      security:
        - x402: []
      x-price: $0.0001
      parameters:
        - name: namespace
          in: path
          required: true
          description: namespace parameter
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: key parameter
          schema:
            type: string
      responses:
        "200":
          description: Delete a cache entry
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "404":
          description: Cache entry not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
