# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/track/prim.yaml + packages/track/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: track.prim.sh API
  version: 1.0.0
  description: Package tracking for agents. USPS, FedEx, UPS, DHL and 1000+ carriers. Status, ETA, full event history.
servers:
  - url: https://track.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - not_found
                - rate_limited
                - provider_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    TrackEvent:
      type: object
      required:
        - status
        - status_detail
        - datetime
      properties:
        status:
          type: string
          description: Event status summary (e.g. "In Transit").
        status_detail:
          type: string
          description: Detailed status description.
        datetime:
          type: string
          description: ISO 8601 timestamp of the event.
        location:
          $ref: "#/components/schemas/TrackLocation"
          description: Location where the event occurred.
    TrackLocation:
      type: object
      properties:
        city:
          type: string
          description: City name.
        state:
          type: string
          description: State or province.
        zip:
          type: string
          description: Postal code.
        country:
          type: string
          description: Two-letter ISO 3166-1 country code.
    TrackRequest:
      type: object
      required:
        - tracking_number
      properties:
        tracking_number:
          type: string
          description: Shipment tracking number.
        carrier:
          type: string
          description: Carrier slug (e.g. "usps", "ups", "fedex"). Omit to auto-detect.
    TrackResponse:
      type: object
      required:
        - tracking_number
        - carrier
        - status
        - status_detail
        - events
      properties:
        tracking_number:
          type: string
          description: Tracking number echoed back.
        carrier:
          type: string
          description: Detected or specified carrier slug.
        status:
          type: string
          description: Current status summary (e.g. "Delivered").
        status_detail:
          type: string
          description: Detailed current status description.
        eta:
          type: string
          description: Estimated delivery date (ISO 8601). Only present if available.
        location:
          $ref: "#/components/schemas/TrackLocation"
          description: Current package location. Only present if available.
        events:
          type: array
          items:
            $ref: "#/components/schemas/TrackEvent"
          description: Chronological list of tracking events (newest first).
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: track.sh
                  status:
                    type: string
                    example: ok
  /v1/track:
    post:
      operationId: trackPackage
      summary: Track a package by tracking number and carrier. Returns status, ETA, and full event history.
      security:
        - x402: []
      x-price: $0.05
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackRequest"
      responses:
        "200":
          description: Track a package by tracking number and carrier. Returns status, ETA, and full event history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackResponse"
        "400":
          description: Missing tracking_number or invalid carrier
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: TrackingMore API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
