# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/token/prim.yaml + packages/token/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: token.prim.sh API
  version: 1.0.0
  description: Deploy ERC-20 tokens and Uniswap V3 pools. No wallet setup required.
servers:
  - url: https://token.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - not_found
                - forbidden
                - invalid_request
                - not_mintable
                - exceeds_max_supply
                - pool_exists
                - rpc_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    CreatePoolRequest:
      type: object
      required:
        - pricePerToken
      properties:
        pricePerToken:
          type: string
          description: Initial price per token in USDC as a decimal string (e.g. "0.001").
        feeTier:
          type: number
          description: Uniswap V3 fee tier. 500 | 3000 | 10000, default 3000.
    CreateTokenRequest:
      type: object
      required:
        - name
        - symbol
        - initialSupply
      properties:
        name:
          type: string
          description: Token name (e.g. "AgentCoin").
        symbol:
          type: string
          description: Token symbol (e.g. "AGT").
        decimals:
          type: number
          description: Decimal places. Default 18.
        initialSupply:
          type: string
          description: Initial supply as a raw integer string (e.g. "1000000000000000000" = 1 token at 18 decimals).
        mintable:
          type: boolean
          description: Whether additional tokens can be minted after deployment. Default false.
        maxSupply:
          type:
            - string
            - "null"
          description: Maximum mintable supply as a raw integer string. Null = unlimited. Only applies if mintable is true.
    LiquidityApproval:
      type: object
      required:
        - token
        - spender
        - amount
      properties:
        token:
          type: string
          description: Token contract address to approve.
        spender:
          type: string
          description: Spender address (position manager).
        amount:
          type: string
          description: Amount to approve as a raw integer string.
    LiquidityParamsResponse:
      type: object
      required:
        - position_manager_address
        - token0
        - token1
        - fee
        - tick_lower
        - tick_upper
        - amount0_desired
        - amount1_desired
        - amount0_min
        - amount1_min
        - recipient
        - deadline
        - approvals
      properties:
        position_manager_address:
          type: string
          description: Uniswap V3 NonfungiblePositionManager contract address.
        token0:
          type: string
          description: First token address.
        token1:
          type: string
          description: Second token address.
        fee:
          type: number
          description: Fee tier.
        tick_lower:
          type: number
          description: Lower tick bound for the liquidity range.
        tick_upper:
          type: number
          description: Upper tick bound for the liquidity range.
        amount0_desired:
          type: string
          description: Desired amount of token0 to add as a raw integer string.
        amount1_desired:
          type: string
          description: Desired amount of token1 to add as a raw integer string.
        amount0_min:
          type: string
          description: Minimum amount of token0 (slippage protection) as a raw integer string.
        amount1_min:
          type: string
          description: Minimum amount of token1 (slippage protection) as a raw integer string.
        recipient:
          type: string
          description: Address to receive the liquidity position NFT.
        deadline:
          type: number
          description: Transaction deadline as a Unix timestamp.
        approvals:
          type: array
          items:
            $ref: "#/components/schemas/LiquidityApproval"
          description: ERC-20 approvals to submit on-chain before calling addLiquidity.
    MintRequest:
      type: object
      required:
        - to
        - amount
      properties:
        to:
          type: string
          description: Recipient address to mint tokens to.
        amount:
          type: string
          description: Amount to mint as a raw integer string.
    MintResponse:
      type: object
      required:
        - tx_hash
        - to
        - amount
        - status
      properties:
        tx_hash:
          type: string
          description: Mint transaction hash.
        to:
          type: string
          description: Recipient address.
        amount:
          type: string
          description: Amount minted as a raw integer string.
        status:
          type: string
          enum:
            - pending
          description: Always "pending" — mint is submitted on-chain asynchronously.
    PoolResponse:
      type: object
      required:
        - pool_address
        - token0
        - token1
        - fee
        - sqrt_price_x96
        - tick
        - tx_hash
      properties:
        pool_address:
          type: string
          description: Uniswap V3 pool contract address.
        token0:
          type: string
          description: First token address in the pool pair.
        token1:
          type: string
          description: Second token address in the pool pair.
        fee:
          type: number
          description: Fee tier (e.g. 3000 = 0.3%).
        sqrt_price_x96:
          type: string
          description: Initial sqrtPriceX96 as a string.
        tick:
          type: number
          description: Initial tick.
        tx_hash:
          type: string
          description: Pool creation transaction hash.
    SupplyResponse:
      type: object
      required:
        - token_id
        - contract_address
        - total_supply
      properties:
        token_id:
          type: string
          description: Token ID.
        contract_address:
          type: string
          description: Deployed contract address.
        total_supply:
          type: string
          description: Live on-chain total supply as a raw integer string.
    TokenResponse:
      type: object
      required:
        - id
        - contract_address
        - owner_wallet
        - name
        - symbol
        - decimals
        - initial_supply
        - total_minted
        - mintable
        - max_supply
        - tx_hash
        - deploy_status
        - created_at
      properties:
        id:
          type: string
          description: Token ID (e.g. "tok_abc123").
        contract_address:
          type:
            - string
            - "null"
          description: Deployed contract address. Null while deploy_status is "pending".
        owner_wallet:
          type: string
          description: Ethereum address of the wallet that deployed the token.
        name:
          type: string
          description: Token name.
        symbol:
          type: string
          description: Token symbol.
        decimals:
          type: number
          description: Decimal places.
        initial_supply:
          type: string
          description: Initial supply as a raw integer string.
        total_minted:
          type: string
          description: Total minted supply as a raw integer string.
        mintable:
          type: boolean
          description: Whether additional tokens can be minted.
        max_supply:
          type:
            - string
            - "null"
          description: Maximum mintable supply as a raw integer string. Null = unlimited.
        tx_hash:
          type: string
          description: Deployment transaction hash.
        deploy_status:
          type: string
          enum:
            - pending
            - confirmed
            - failed
          description: Deployment status. Poll until "confirmed" before minting or creating a pool.
        created_at:
          type: string
          description: ISO 8601 timestamp when the token was created.
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: token.sh
                  status:
                    type: string
                    example: ok
  /v1/tokens:
    post:
      operationId: deployToken
      summary: "Deploy a new ERC-20 token. Returns immediately with deployStatus: 'pending'."
      description: Poll GET /v1/tokens/:id until deployStatus is 'confirmed' before minting or pooling.
      security:
        - x402: []
      x-price: $0.10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenRequest"
      responses:
        "201":
          description: "Deploy a new ERC-20 token. Returns immediately with deployStatus: 'pending'."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Missing required fields or invalid values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "502":
          description: Base RPC error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listTokens
      summary: List tokens deployed by the authenticated wallet
      security:
        - x402: []
      x-price: $0.001
      responses:
        "200":
          description: List tokens deployed by the authenticated wallet
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Missing wallet in payment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/tokens/{id}:
    get:
      operationId: getToken
      summary: "Get token details: deployStatus, contractAddress, supply, pool"
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: "Get token details: deployStatus, contractAddress, supply, pool"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Token belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Token ID does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/tokens/{id}/mint:
    post:
      operationId: mintTokens
      summary: Mint additional tokens to an address. Requires mintable=true at deploy time.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MintRequest"
      responses:
        "200":
          description: Mint additional tokens to an address. Requires mintable=true at deploy time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MintResponse"
        "400":
          description: Token deployed with mintable=false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Token belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Token ID does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Mint would exceed maxSupply
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Base RPC error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/tokens/{id}/supply:
    get:
      operationId: getTokenSupply
      summary: Live on-chain total supply from contract
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Live on-chain total supply from contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupplyResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Token belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Token ID does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Base RPC error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/tokens/{id}/pool:
    post:
      operationId: createPool
      summary: Create and initialize a Uniswap V3 pool paired with USDC. One pool per token.
      security:
        - x402: []
      x-price: $0.05
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePoolRequest"
      responses:
        "201":
          description: Create and initialize a Uniswap V3 pool paired with USDC. One pool per token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolResponse"
        "400":
          description: Missing pricePerToken or invalid feeTier
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Token belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Token ID does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Pool already exists for this token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Base RPC error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: getPool
      summary: "Get pool details: poolAddress, token0, token1, fee, sqrtPriceX96, tick"
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: "Get pool details: poolAddress, token0, token1, fee, sqrtPriceX96, tick"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Token belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Token or pool not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Base RPC error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/tokens/{id}/pool/liquidity-params:
    get:
      operationId: getLiquidityParams
      summary: Get calldata for adding liquidity. Returns approvals[] and position manager params.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: tokenAmount
          in: query
          description: Raw token amount to add as liquidity
          schema:
            type: string
        - name: usdcAmount
          in: query
          description: Raw USDC amount to pair (6 decimals)
          schema:
            type: string
      responses:
        "200":
          description: Get calldata for adding liquidity. Returns approvals[] and position manager params.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiquidityParamsResponse"
        "400":
          description: Missing tokenAmount or usdcAmount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Token belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Token or pool not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Base RPC error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
