# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/spawn/prim.yaml + packages/spawn/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: spawn.prim.sh API
  version: 1.0.0
  description: VPS in one API call. Deploy, scale, destroy. Per-second billing.
servers:
  - url: https://spawn.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - not_found
                - forbidden
                - invalid_request
                - insufficient_deposit
                - provider_error
                - rate_limited
                - not_implemented
                - server_limit_exceeded
                - type_not_allowed
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ActionOnlyResponse:
      type: object
      required:
        - action
      properties:
        action:
          $ref: "#/components/schemas/ActionResponse"
          description: Action object for the requested operation.
    ActionResponse:
      type: object
      required:
        - id
        - command
        - status
        - started_at
        - finished_at
      properties:
        id:
          type: string
          description: Action ID.
        command:
          type: string
          description: Action name (e.g. "create", "start", "stop").
        status:
          type: string
          description: 'Action status: "running" | "success" | "error".'
        started_at:
          type: string
          description: ISO 8601 timestamp when the action started.
        finished_at:
          type:
            - string
            - "null"
          description: ISO 8601 timestamp when the action finished. Null if still running.
    CreateServerRequest:
      type: object
      required:
        - name
        - type
        - image
        - location
      properties:
        name:
          type: string
          description: Server name (provider-level label).
        type:
          type: string
          description: Server type slug. Only "small" (2 vCPU, 4 GB RAM) available in beta.
        image:
          type: string
          description: OS image slug (e.g. "ubuntu-24.04", "debian-12").
        location:
          type: string
          description: Data center slug (e.g. "nyc3", "sfo3", "lon1").
        provider:
          type: string
          description: Cloud provider. Default "digitalocean".
        ssh_keys:
          type: array
          items:
            type: string
          description: SSH key IDs from POST /v1/ssh-keys to install on the server.
        user_data:
          type: string
          description: Cloud-init script to run on first boot.
    CreateServerResponse:
      type: object
      required:
        - server
        - action
        - deposit_charged
        - deposit_remaining
      properties:
        server:
          $ref: "#/components/schemas/ServerResponse"
          description: 'Created server object (initial status: "initializing").'
        action:
          $ref: "#/components/schemas/ActionResponse"
          description: Action object tracking the provisioning progress.
        deposit_charged:
          type: string
          description: USDC charged for this server as a decimal string.
        deposit_remaining:
          type: string
          description: Remaining USDC deposit balance as a decimal string.
    CreateSshKeyRequest:
      type: object
      required:
        - name
        - public_key
      properties:
        name:
          type: string
          description: Human-readable label for this SSH key.
        public_key:
          type: string
          description: Public key string (e.g. "ssh-ed25519 AAAA...").
    DeleteServerResponse:
      type: object
      required:
        - status
        - deposit_refunded
      properties:
        status:
          type: string
          enum:
            - deleted
          description: Always "deleted" on success.
        deposit_refunded:
          type: string
          description: USDC refunded to wallet as a decimal string.
    PublicNet:
      type: object
      required:
        - ipv4
        - ipv6
      properties:
        ipv4:
          type: object
          description: IPv4 address info. Null until assigned.
        ipv6:
          type: object
          description: IPv6 address info. Null until assigned.
    RebuildRequest:
      type: object
      required:
        - image
      properties:
        image:
          type: string
          description: OS image slug to rebuild with (e.g. "debian-12").
    RebuildResponse:
      type: object
      required:
        - action
        - root_password
      properties:
        action:
          $ref: "#/components/schemas/ActionResponse"
          description: 'Action object (command: "rebuild").'
        root_password:
          type:
            - string
            - "null"
          description: New root password if no SSH keys configured. Null if SSH keys are installed.
    ResizeRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: Target server type slug.
        upgrade_disk:
          type: boolean
          description: Upgrade disk along with CPU/RAM. Irreversible if true. Default false.
    ResizeResponse:
      type: object
      required:
        - action
        - new_type
        - deposit_delta
      properties:
        action:
          $ref: "#/components/schemas/ActionResponse"
          description: 'Action object (command: "resize").'
        new_type:
          type: string
          description: Target server type after resize.
        deposit_delta:
          type: string
          description: USDC deposit change as a decimal string. Positive = charged, negative = refunded.
    ServerResponse:
      type: object
      required:
        - id
        - provider
        - provider_id
        - name
        - type
        - status
        - image
        - location
        - public_net
        - owner_wallet
        - created_at
      properties:
        id:
          type: string
          description: Prim server ID (e.g. "srv_abc123").
        provider:
          type: string
          description: Cloud provider (e.g. "digitalocean").
        provider_id:
          type: string
          description: Provider-assigned server ID.
        name:
          type: string
          description: Server name (label).
        type:
          type: string
          description: Server type slug (e.g. "small").
        status:
          type: string
          description: Current server lifecycle status.
        image:
          type: string
          description: OS image slug (e.g. "ubuntu-24.04").
        location:
          type: string
          description: Data center slug (e.g. "nyc3").
        public_net:
          $ref: "#/components/schemas/PublicNet"
          description: Public IP addresses.
        owner_wallet:
          type: string
          description: Ethereum address of the server owner.
        created_at:
          type: string
          description: ISO 8601 timestamp when the server was created.
    SshKeyResponse:
      type: object
      required:
        - id
        - provider
        - provider_id
        - name
        - fingerprint
        - owner_wallet
        - created_at
      properties:
        id:
          type: string
          description: Prim SSH key ID (e.g. "key_abc123").
        provider:
          type: string
          description: Cloud provider.
        provider_id:
          type: string
          description: Provider-assigned key ID.
        name:
          type: string
          description: Key label.
        fingerprint:
          type: string
          description: SSH key fingerprint.
        owner_wallet:
          type: string
          description: Ethereum address of the key owner.
        created_at:
          type: string
          description: ISO 8601 timestamp when the key was registered.
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: spawn.sh
                  status:
                    type: string
                    example: ok
  /v1/servers:
    post:
      operationId: createServer
      summary: Provision a new VPS. Returns immediately with status 'initializing'.
      description: Poll GET /v1/servers/:id until status is 'running' to get IP address.
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServerRequest"
      responses:
        "201":
          description: Provision a new VPS. Returns immediately with status 'initializing'.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateServerResponse"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Wallet has reached 3 concurrent server limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listServers
      summary: List all servers owned by the calling wallet
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: page
          in: query
          description: 1-based page number, default 1
          schema:
            type: integer
      responses:
        "200":
          description: List all servers owned by the calling wallet
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Missing wallet in payment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/servers/{id}:
    get:
      operationId: getServer
      summary: Get full details for a single server. Poll this until status='running'.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Get full details for a single server. Poll this until status='running'.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Server belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteServer
      summary: Destroy a server and release its resources. Unused deposit is refunded.
      security:
        - x402: []
      x-price: $0.005
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Destroy a server and release its resources. Unused deposit is refunded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteServerResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Server belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/servers/{id}/start:
    post:
      operationId: startServer
      summary: Start a stopped server
      security:
        - x402: []
      x-price: $0.002
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Start a stopped server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionOnlyResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Server belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/servers/{id}/stop:
    post:
      operationId: stopServer
      summary: Stop a running server (graceful shutdown)
      security:
        - x402: []
      x-price: $0.002
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Stop a running server (graceful shutdown)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionOnlyResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Server belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/servers/{id}/reboot:
    post:
      operationId: rebootServer
      summary: Reboot a running server
      security:
        - x402: []
      x-price: $0.002
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Reboot a running server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionOnlyResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Server belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/servers/{id}/resize:
    post:
      operationId: resizeServer
      summary: Change server type (CPU/RAM). Server must be stopped first. Deposit adjusted.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeRequest"
      responses:
        "200":
          description: Change server type (CPU/RAM). Server must be stopped first. Deposit adjusted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResizeResponse"
        "400":
          description: Missing type field or invalid value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Server belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/servers/{id}/rebuild:
    post:
      operationId: rebuildServer
      summary: Reinstall from a fresh OS image. All data on server is destroyed.
      security:
        - x402: []
      x-price: $0.005
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RebuildRequest"
      responses:
        "200":
          description: Reinstall from a fresh OS image. All data on server is destroyed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RebuildResponse"
        "400":
          description: Missing image field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Server belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/ssh-keys:
    post:
      operationId: createSshKey
      summary: Register a public SSH key. Returned ID can be used in ssh_keys when creating a server.
      security:
        - x402: []
      x-price: $0.001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSshKeyRequest"
      responses:
        "201":
          description: Register a public SSH key. Returned ID can be used in ssh_keys when creating a server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SshKeyResponse"
        "400":
          description: Missing name or public_key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listSshKeys
      summary: List all SSH keys registered by the calling wallet
      security:
        - x402: []
      x-price: $0.001
      responses:
        "200":
          description: List all SSH keys registered by the calling wallet
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Missing wallet in payment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/ssh-keys/{id}:
    delete:
      operationId: deleteSshKey
      summary: Remove an SSH key. Keys in use by active servers remain until server is rebuilt.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Remove an SSH key. Keys in use by active servers remain until server is rebuilt.
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Key belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: SSH key not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Cloud provider API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
