# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/infer/prim.yaml + packages/infer/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: infer.prim.sh API
  version: 1.0.0
  description: LLM inference for agents. Any model, any provider, one API. Per-token pricing. No API keys.
servers:
  - url: https://infer.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - not_found
                - rate_limited
                - provider_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ChatRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        temperature:
          type: number
        max_tokens:
          type: number
        top_p:
          type: number
        frequency_penalty:
          type: number
        presence_penalty:
          type: number
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        stream:
          type: boolean
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"
        tool_choice:
          oneOf:
            - type: string
              enum:
                - none
                - auto
                - required
            - type: object
        response_format:
          type: object
    ChatResponse:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
        - usage
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - chat.completion
        created:
          type: number
        model:
          type: string
        choices:
          type: array
          items:
            $ref: "#/components/schemas/Choice"
        usage:
          $ref: "#/components/schemas/Usage"
    Choice:
      type: object
      required:
        - index
        - message
        - finish_reason
      properties:
        index:
          type: number
        message:
          $ref: "#/components/schemas/Message"
        finish_reason:
          oneOf:
            - type: string
              enum:
                - stop
                - length
                - tool_calls
                - content_filter
            - type: "null"
    ContentPart:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - text
            - image_url
        text:
          type: string
        image_url:
          type: object
    EmbedRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
        input:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
    EmbedResponse:
      type: object
      required:
        - object
        - data
        - model
        - usage
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: "#/components/schemas/EmbeddingData"
        model:
          type: string
        usage:
          type: object
    EmbeddingData:
      type: object
      required:
        - object
        - index
        - embedding
      properties:
        object:
          type: string
          enum:
            - embedding
        index:
          type: number
        embedding:
          type: array
          items:
            type: number
    Message:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - tool
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ContentPart"
            - type: "null"
        name:
          type: string
        tool_call_id:
          type: string
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
    ModelInfo:
      type: object
      required:
        - id
        - name
        - context_length
        - pricing
      properties:
        id:
          type: string
        name:
          type: string
        context_length:
          type: number
        pricing:
          $ref: "#/components/schemas/ModelPricing"
    ModelPricing:
      type: object
      required:
        - prompt
        - completion
      properties:
        prompt:
          type: string
        completion:
          type: string
    ModelsResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ModelInfo"
    Tool:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum:
            - function
        function:
          type: object
    ToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - function
        function:
          type: object
    Usage:
      type: object
      required:
        - prompt_tokens
        - completion_tokens
        - total_tokens
      properties:
        prompt_tokens:
          type: number
        completion_tokens:
          type: number
        total_tokens:
          type: number
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: infer.sh
                  status:
                    type: string
                    example: ok
  /v1/chat:
    post:
      operationId: chat
      summary: Chat completion. Supports streaming, tool use, structured output.
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
      responses:
        "200":
          description: Chat completion. Supports streaming, tool use, structured output.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
        "400":
          description: Missing or invalid model/messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream model provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/embed:
    post:
      operationId: embed
      summary: Generate embeddings for text input. Returns vector array.
      security:
        - x402: []
      x-price: $0.001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbedRequest"
      responses:
        "200":
          description: Generate embeddings for text input. Returns vector array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmbedResponse"
        "400":
          description: Missing or invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/models:
    get:
      operationId: listModels
      summary: List available models with pricing and capabilities.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: List available models with pricing and capabilities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelsResponse"
        "502":
          description: Unable to fetch model list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
