# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/infer/prim.yaml + packages/infer/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: infer.prim.sh API
  version: 1.0.0
  description: LLM inference for agents. Any model, any provider, one API. Per-token pricing. Zero API keys.
servers:
  - url: https://infer.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - not_found
                - rate_limited
                - provider_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ChatRequest:
      type: object
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        temperature:
          type: number
        max_tokens:
          type: number
        top_p:
          type: number
        frequency_penalty:
          type: number
        presence_penalty:
          type: number
        stop:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
        stream:
          type: boolean
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"
        tool_choice:
          anyOf:
            - type: string
              enum:
                - none
                - auto
                - required
            - type: object
              properties:
                type:
                  type: string
                  const: function
                function:
                  type: object
                  properties:
                    name:
                      type: string
                  required:
                    - name
              required:
                - type
                - function
        response_format:
          type: object
          properties:
            type:
              type: string
              enum:
                - text
                - json_object
          required:
            - type
      required:
        - model
        - messages
    ChatResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          const: chat.completion
        created:
          type: number
        model:
          type: string
        choices:
          type: array
          items:
            $ref: "#/components/schemas/Choice"
        usage:
          $ref: "#/components/schemas/Usage"
      required:
        - id
        - object
        - created
        - model
        - choices
        - usage
    Choice:
      type: object
      properties:
        index:
          type: number
        message:
          $ref: "#/components/schemas/Message"
        finish_reason:
          anyOf:
            - type: string
              enum:
                - stop
                - length
                - tool_calls
                - content_filter
            - type: "null"
      required:
        - index
        - message
        - finish_reason
    ContentPart:
      type: object
      properties:
        type:
          type: string
          enum:
            - text
            - image_url
        text:
          type: string
        image_url:
          type: object
          properties:
            url:
              type: string
            detail:
              type: string
              enum:
                - auto
                - low
                - high
          required:
            - url
      required:
        - type
    EmbedRequest:
      type: object
      properties:
        model:
          type: string
        input:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
      required:
        - model
        - input
    EmbedResponse:
      type: object
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            $ref: "#/components/schemas/EmbeddingData"
        model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: number
            total_tokens:
              type: number
          required:
            - prompt_tokens
            - total_tokens
      required:
        - object
        - data
        - model
        - usage
    EmbeddingData:
      type: object
      properties:
        object:
          type: string
          const: embedding
        index:
          type: number
        embedding:
          type: array
          items:
            type: number
      required:
        - object
        - index
        - embedding
    ListModelsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ModelInfo"
      required:
        - data
    Message:
      type: object
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - tool
        content:
          anyOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ContentPart"
            - type: "null"
        name:
          type: string
        tool_call_id:
          type: string
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
      required:
        - role
        - content
    ModelInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        context_length:
          type: number
        pricing:
          $ref: "#/components/schemas/ModelPricing"
      required:
        - id
        - name
        - context_length
        - pricing
    ModelPricing:
      type: object
      properties:
        prompt:
          type: string
        completion:
          type: string
      required:
        - prompt
        - completion
    Tool:
      type: object
      properties:
        type:
          type: string
          const: function
        function:
          type: object
          properties:
            name:
              type: string
            description:
              type: string
            parameters:
              type: object
              propertyNames:
                type: string
          required:
            - name
      required:
        - type
        - function
    ToolCall:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: function
        function:
          type: object
          properties:
            name:
              type: string
            arguments:
              type: string
          required:
            - name
            - arguments
      required:
        - id
        - type
        - function
    Usage:
      type: object
      properties:
        prompt_tokens:
          type: number
        completion_tokens:
          type: number
        total_tokens:
          type: number
      required:
        - prompt_tokens
        - completion_tokens
        - total_tokens
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: infer.sh
                  status:
                    type: string
                    example: ok
  /v1/chat:
    post:
      operationId: chat
      summary: Chat completion. Supports streaming, tool use, structured output.
      security:
        - x402: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
      responses:
        "200":
          description: Chat completion. Supports streaming, tool use, structured output.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
        "400":
          description: Missing or invalid model/messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream model provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/embed:
    post:
      operationId: embed
      summary: Generate embeddings for text input. Returns vector array.
      security:
        - x402: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbedRequest"
      responses:
        "200":
          description: Generate embeddings for text input. Returns vector array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmbedResponse"
        "400":
          description: Missing or invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/models:
    get:
      operationId: listModels
      summary: List available models with pricing and capabilities.
      security:
        - x402: []
      responses:
        "200":
          description: List available models with pricing and capabilities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListModelsResponse"
        "502":
          description: Unable to fetch model list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
