# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/wallet/prim.yaml + packages/wallet/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: wallet.prim.sh API
  version: 1.0.0
  description: Agent wallets. Generate keys, hold USDC on Base, and pay any x402 invoice.
servers:
  - url: https://wallet.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - not_found
                - forbidden
                - insufficient_balance
                - wallet_paused
                - policy_violation
                - duplicate_request
                - invalid_request
                - not_implemented
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ApproveFundRequestResponse:
      type: object
      required:
        - id
        - status
        - funding_address
        - amount
        - chain
        - approved_at
      properties:
        id:
          type: string
          description: Fund request ID.
        status:
          type: string
          enum:
            - approved
          description: Always "approved" on success.
        funding_address:
          type: string
          description: Send USDC to this address to fulfill the request.
        amount:
          type: string
          description: Approved USDC amount as a decimal string.
        chain:
          type: string
          description: Chain identifier for the funding transaction.
        approved_at:
          type: string
          description: ISO 8601 timestamp when the request was approved.
    CreateFundRequestRequest:
      type: object
      required:
        - amount
        - reason
      properties:
        amount:
          type: string
          description: Requested USDC amount as a decimal string (e.g. "10.00").
        reason:
          type: string
          description: Human-readable reason for the funding request.
    DeactivateWalletResponse:
      type: object
      required:
        - address
        - deactivated
        - deactivated_at
      properties:
        address:
          type: string
          description: Deactivated Ethereum address.
        deactivated:
          type: boolean
          description: Always true on success.
        deactivated_at:
          type: string
          description: ISO 8601 timestamp of deactivation.
    DenyFundRequestRequest:
      type: object
      properties:
        reason:
          type: string
          description: Reason for denial.
    DenyFundRequestResponse:
      type: object
      required:
        - id
        - status
        - reason
        - denied_at
      properties:
        id:
          type: string
          description: Fund request ID.
        status:
          type: string
          enum:
            - denied
          description: Always "denied" on success.
        reason:
          type:
            - string
            - "null"
          description: Denial reason if provided, null otherwise.
        denied_at:
          type: string
          description: ISO 8601 timestamp when the request was denied.
    FundRequestResponse:
      type: object
      required:
        - id
        - wallet_address
        - amount
        - reason
        - status
        - created_at
      properties:
        id:
          type: string
          description: Fund request ID (e.g. "fr_abc123").
        wallet_address:
          type: string
          description: Wallet address the request is for.
        amount:
          type: string
          description: Requested USDC amount as a decimal string.
        reason:
          type: string
          description: Reason provided by the requester.
        status:
          type: string
          description: Current status of the fund request.
        created_at:
          type: string
          description: ISO 8601 timestamp when the request was created.
    PauseRequest:
      type: object
      properties:
        scope:
          type: string
          description: Scope to pause. "all" | "send" | "swap". Default "all".
    PauseResponse:
      type: object
      required:
        - wallet_address
        - paused
        - scope
        - paused_at
      properties:
        wallet_address:
          type: string
          description: Wallet address that was paused.
        paused:
          type: boolean
          description: Always true on success.
        scope:
          type: string
          description: Scope that was paused.
        paused_at:
          type: string
          description: ISO 8601 timestamp when the wallet was paused.
    PolicyResponse:
      type: object
      required:
        - wallet_address
        - max_per_tx
        - max_per_day
        - allowed_primitives
        - daily_spent
        - daily_reset_at
      properties:
        wallet_address:
          type: string
          description: Wallet address this policy applies to.
        max_per_tx:
          type:
            - string
            - "null"
          description: Max USDC per transaction, null = no limit.
        max_per_day:
          type:
            - string
            - "null"
          description: Max USDC per day, null = no limit.
        allowed_primitives:
          type:
            - array
            - "null"
          description: Allowed primitive hostnames (e.g. ["store.prim.sh"]), null = all allowed.
        daily_spent:
          type: string
          description: USDC spent today as a decimal string.
        daily_reset_at:
          type: string
          description: ISO 8601 timestamp when the daily counter resets.
    PolicyUpdateRequest:
      type: object
      properties:
        maxPerTx:
          type:
            - string
            - "null"
          description: Max USDC per transaction. Pass null to remove the limit.
        maxPerDay:
          type:
            - string
            - "null"
          description: Max USDC per day. Pass null to remove the limit.
        allowedPrimitives:
          type:
            - array
            - "null"
          description: Allowed primitive hostnames. Pass null to allow all.
    RegisterWalletRequest:
      type: object
      required:
        - address
        - signature
        - timestamp
      properties:
        address:
          type: string
          description: Ethereum address to register (0x... 42 chars, checksummed).
        signature:
          type: string
          description: EIP-191 signature over "Register <address> with prim.sh at <timestamp>".
        timestamp:
          type: string
          description: ISO 8601 UTC timestamp used in the signed message. Must be within 5 minutes of server time.
        chain:
          type: string
          description: Chain identifier. Default "base".
        label:
          type: string
          description: Human-readable label for this wallet.
    RegisterWalletResponse:
      type: object
      required:
        - address
        - chain
        - label
        - registered_at
        - created_at
      properties:
        address:
          type: string
          description: Registered Ethereum address.
        chain:
          type: string
          description: Chain identifier.
        label:
          type:
            - string
            - "null"
          description: Label if provided, null otherwise.
        registered_at:
          type: string
          description: ISO 8601 timestamp when the wallet was registered.
        created_at:
          type: string
          description: ISO 8601 timestamp when the record was created.
    ResumeRequest:
      type: object
      properties:
        scope:
          type: string
          description: Scope to resume. "all" | "send" | "swap". Default "all".
    ResumeResponse:
      type: object
      required:
        - wallet_address
        - paused
        - scope
        - resumed_at
      properties:
        wallet_address:
          type: string
          description: Wallet address that was resumed.
        paused:
          type: boolean
          description: Always false on success (wallet is unpaused).
        scope:
          type: string
          description: Scope that was resumed.
        resumed_at:
          type: string
          description: ISO 8601 timestamp when the wallet was resumed.
    SpendingPolicy:
      type: object
      required:
        - max_per_tx
        - max_per_day
        - daily_spent
        - daily_reset_at
      properties:
        max_per_tx:
          type:
            - string
            - "null"
          description: Max USDC per transaction as decimal string. Null = no limit.
        max_per_day:
          type:
            - string
            - "null"
          description: Max USDC per day as decimal string. Null = no limit.
        daily_spent:
          type: string
          description: USDC spent today as a decimal string.
        daily_reset_at:
          type: string
          description: ISO 8601 timestamp when the daily counter resets.
    WalletDetailResponse:
      type: object
      required:
        - address
        - chain
        - balance
        - funded
        - paused
        - created_by
        - policy
        - created_at
      properties:
        address:
          type: string
          description: Ethereum address.
        chain:
          type: string
          description: Chain identifier.
        balance:
          type: string
          description: USDC balance as a decimal string.
        funded:
          type: boolean
          description: Whether the wallet has ever been funded.
        paused:
          type: boolean
          description: Whether the wallet is currently paused.
        created_by:
          type: string
          description: Address that registered this wallet (or self).
        policy:
          oneOf:
            - $ref: "#/components/schemas/SpendingPolicy"
            - type: "null"
          description: Spending policy, null if none configured.
        created_at:
          type: string
          description: ISO 8601 timestamp when the wallet was created.
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: wallet.sh
                  status:
                    type: string
                    example: ok
  /v1/wallets:
    post:
      operationId: registerWallet
      summary: Register a wallet via EIP-191 signature
      description: "Free. No x402 required. Sign message: Register <address> with prim.sh at <timestamp>"
      security:
        - x402: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterWalletRequest"
      responses:
        "201":
          description: Register a wallet via EIP-191 signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWalletResponse"
        "400":
          description: Missing fields or invalid signature format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Signature does not match address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Wallet already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listWallets
      summary: List registered wallets owned by the calling wallet
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: after
          in: query
          description: Cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: List registered wallets owned by the calling wallet
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: No wallet address in payment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/wallets/{address}:
    get:
      operationId: getWallet
      summary: Get full wallet details including balance, policy, and status
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
      responses:
        "200":
          description: Get full wallet details including balance, policy, and status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletDetailResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deactivateWallet
      summary: Permanently deactivate a wallet. Irreversible. Pending fund requests cancelled.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
      responses:
        "200":
          description: Permanently deactivate a wallet. Irreversible. Pending fund requests cancelled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeactivateWalletResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/wallets/{address}/fund-request:
    post:
      operationId: createFundRequest
      summary: Request USDC funding for a wallet. A human operator can approve or deny.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFundRequestRequest"
      responses:
        "200":
          description: Request USDC funding for a wallet. A human operator can approve or deny.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundRequestResponse"
        "400":
          description: Missing amount or reason
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/wallets/{address}/fund-requests:
    get:
      operationId: listFundRequests
      summary: List all fund requests for a wallet
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: after
          in: query
          description: Cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: List all fund requests for a wallet
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/fund-requests/{id}/approve:
    post:
      operationId: approveFundRequest
      summary: Approve a pending fund request. Returns the address to send USDC to.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Approve a pending fund request. Returns the address to send USDC to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApproveFundRequestResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Caller not authorized to approve
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Fund request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Already approved or denied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/fund-requests/{id}/deny:
    post:
      operationId: denyFundRequest
      summary: Deny a pending fund request
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DenyFundRequestRequest"
      responses:
        "200":
          description: Deny a pending fund request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DenyFundRequestResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Caller not authorized to deny
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Fund request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Already approved or denied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/wallets/{address}/policy:
    get:
      operationId: getPolicy
      summary: Get the spending policy for a wallet
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
      responses:
        "200":
          description: Get the spending policy for a wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: updatePolicy
      summary: Update spending policy for a wallet. All fields optional. Pass null to remove a limit.
      security:
        - x402: []
      x-price: $0.005
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicyUpdateRequest"
      responses:
        "200":
          description: Update spending policy for a wallet. All fields optional. Pass null to remove a limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
        "400":
          description: Invalid JSON body or field values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/wallets/{address}/pause:
    post:
      operationId: pauseWallet
      summary: Pause operations for a wallet. Temporarily halts spending without deactivating.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PauseRequest"
      responses:
        "200":
          description: Pause operations for a wallet. Temporarily halts spending without deactivating.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PauseResponse"
        "400":
          description: Invalid scope value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/wallets/{address}/resume:
    post:
      operationId: resumeWallet
      summary: Resume operations for a paused wallet
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: address
          in: path
          required: true
          description: address parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResumeRequest"
      responses:
        "200":
          description: Resume operations for a paused wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResumeResponse"
        "400":
          description: Invalid scope value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Caller does not own this wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
