# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/store/prim.yaml + packages/store/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: store.prim.sh API
  version: 1.0.0
  description: Object storage. Persist artifacts across ephemeral VMs. S3-compatible.
servers:
  - url: https://store.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - not_found
                - forbidden
                - invalid_request
                - r2_error
                - rate_limited
                - bucket_name_taken
                - quota_exceeded
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    BucketResponse:
      type: object
      required:
        - id
        - name
        - location
        - owner_wallet
        - quota_bytes
        - usage_bytes
        - created_at
      properties:
        id:
          type: string
          description: Bucket ID (UUID).
        name:
          type: string
          description: Bucket name. Unique per wallet. Alphanumeric, hyphens, underscores.
        location:
          type:
            - string
            - "null"
          description: Storage region (e.g. "us-east-1"). Null = default region.
        owner_wallet:
          type: string
          description: Ethereum address of the bucket owner.
        quota_bytes:
          type:
            - number
            - "null"
          description: Per-bucket quota in bytes. Null = default (100 MB).
        usage_bytes:
          type: number
          description: Current storage usage in bytes.
        created_at:
          type: string
          description: ISO 8601 timestamp when the bucket was created.
    CreateBucketRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Bucket name. Unique per wallet. 3-63 chars, alphanumeric + hyphens.
        location:
          type: string
          description: Storage region (e.g. "us-east-1"). Defaults to primary region.
    CreateBucketResponse:
      type: object
      required:
        - bucket
      properties:
        bucket:
          $ref: "#/components/schemas/BucketResponse"
          description: The created bucket.
    DeleteObjectResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - deleted
          description: Always "deleted" on success.
    PutObjectResponse:
      type: object
      required:
        - key
        - size
        - etag
      properties:
        key:
          type: string
          description: Object key as stored.
        size:
          type: number
          description: Object size in bytes.
        etag:
          type: string
          description: ETag (MD5 hash).
    QuotaResponse:
      type: object
      required:
        - bucket_id
        - quota_bytes
        - usage_bytes
        - usage_pct
      properties:
        bucket_id:
          type: string
          description: Bucket ID.
        quota_bytes:
          type:
            - number
            - "null"
          description: Per-bucket quota in bytes. Null = default (100 MB).
        usage_bytes:
          type: number
          description: Current storage usage in bytes.
        usage_pct:
          type:
            - number
            - "null"
          description: Usage as a percentage (0-100). Null if quota_bytes is null.
    ReconcileResponse:
      type: object
      required:
        - bucket_id
        - previous_bytes
        - actual_bytes
        - delta_bytes
      properties:
        bucket_id:
          type: string
          description: Bucket ID.
        previous_bytes:
          type: number
          description: Storage usage recorded before reconciliation, in bytes.
        actual_bytes:
          type: number
          description: Actual storage usage recomputed from R2, in bytes.
        delta_bytes:
          type: number
          description: Difference (actual - previous). Negative means recorded was overstated.
    SetQuotaRequest:
      type: object
      required:
        - quota_bytes
      properties:
        quota_bytes:
          type:
            - number
            - "null"
          description: New quota in bytes. Pass null to reset to default (100 MB).
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: store.sh
                  status:
                    type: string
                    example: ok
  /v1/buckets:
    post:
      operationId: createBucket
      summary: Create a new storage bucket
      security:
        - x402: []
      x-price: $0.05
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBucketRequest"
      responses:
        "201":
          description: Create a new storage bucket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBucketResponse"
        "400":
          description: Invalid bucket name or name already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Wallet has reached 10 bucket limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: listBuckets
      summary: List all buckets owned by the calling wallet
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: limit
          in: query
          description: 1-100, default 20
          schema:
            type: integer
        - name: page
          in: query
          description: 1-based page number, default 1
          schema:
            type: integer
      responses:
        "200":
          description: List all buckets owned by the calling wallet
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Missing wallet address in payment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/buckets/{id}:
    get:
      operationId: getBucket
      summary: Get details for a single bucket. Caller must own the bucket.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Get details for a single bucket. Caller must own the bucket.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteBucket
      summary: Delete a bucket. Bucket must be empty first.
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Delete a bucket. Bucket must be empty first.
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/buckets/{id}/objects/{key}:
    put:
      operationId: putObject
      summary: Upload an object. Key may include slashes. Content-Length header required.
      description: Request body is raw bytes. Fails with 413 if upload exceeds quota.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: key parameter
          schema:
            type: string
      responses:
        "200":
          description: Upload an object. Key may include slashes. Content-Length header required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutObjectResponse"
        "400":
          description: Missing or invalid body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: Upload would exceed wallet 1 GB limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: getObject
      summary: Download an object. Response body is streamed directly.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: key parameter
          schema:
            type: string
      responses:
        "200":
          description: Download an object. Response body is streamed directly.
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket or object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteObject
      summary: Delete an object from a bucket
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: key parameter
          schema:
            type: string
      responses:
        "200":
          description: Delete an object from a bucket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteObjectResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket or object not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/buckets/{id}/objects:
    get:
      operationId: listObjects
      summary: List objects in a bucket. Cursor-based pagination.
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
        - name: prefix
          in: query
          description: Filter by key prefix (e.g. notes/)
          schema:
            type: string
        - name: limit
          in: query
          description: 1-1000, default 100
          schema:
            type: integer
        - name: cursor
          in: query
          description: Cursor from previous response's next_cursor
          schema:
            type: string
      responses:
        "200":
          description: List objects in a bucket. Cursor-based pagination.
          content:
            application/json:
              schema:
                type: object
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/buckets/{id}/quota:
    get:
      operationId: getQuota
      summary: Get quota and usage for a bucket
      security:
        - x402: []
      x-price: $0.001
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Get quota and usage for a bucket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: setQuota
      summary: Set the storage quota for a bucket. Pass null to reset to default (100 MB).
      security:
        - x402: []
      x-price: $0.01
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetQuotaRequest"
      responses:
        "200":
          description: Set the storage quota for a bucket. Pass null to reset to default (100 MB).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaResponse"
        "400":
          description: Invalid quota value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/buckets/{id}/quota/reconcile:
    post:
      operationId: reconcileQuota
      summary: Recompute bucket usage by scanning actual R2 storage. Use when usage_bytes appears incorrect.
      security:
        - x402: []
      x-price: $0.05
      parameters:
        - name: id
          in: path
          required: true
          description: id parameter
          schema:
            type: string
      responses:
        "200":
          description: Recompute bucket usage by scanning actual R2 storage. Use when usage_bytes appears incorrect.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReconcileResponse"
        "402":
          description: x402 payment required.
        "403":
          description: Bucket belongs to a different wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bucket not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream R2 error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
