# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/create/prim.yaml + packages/create/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: create.prim.sh API
  version: 1.0.0
  description: Scaffold new prim.sh primitives. Write a prim.yaml spec, get a complete package with passing tests.
servers:
  - url: https://create.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - not_found
                - rate_limited
                - provider_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    GetSchemaResponse:
      type: object
      properties:
        schema:
          type: object
          propertyNames:
            type: string
          description: JSON Schema for prim.yaml
      required:
        - schema
    ListPortsResponse:
      type: object
      properties:
        allocated:
          type: array
          items:
            $ref: "#/components/schemas/PortAllocation"
          description: Currently allocated ports
        next_available:
          type: number
          description: Next available port number
      required:
        - allocated
        - next_available
    PortAllocation:
      type: object
      properties:
        id:
          type: string
          description: Primitive ID
        port:
          type: number
          description: Port number
      required:
        - id
        - port
    ScaffoldFile:
      type: object
      properties:
        path:
          type: string
          description: Relative file path (e.g. "packages/foo/src/index.ts")
        content:
          type: string
          description: File content
      required:
        - path
        - content
    ScaffoldRequest:
      type: object
      properties:
        spec:
          type: string
          description: prim.yaml spec as YAML string
      required:
        - spec
    ScaffoldResponse:
      type: object
      properties:
        id:
          type: string
          description: Primitive ID
        files:
          type: array
          items:
            $ref: "#/components/schemas/ScaffoldFile"
          description: Generated files
      required:
        - id
        - files
    ValidateRequest:
      type: object
      properties:
        spec:
          type: string
          description: prim.yaml spec as YAML string
      required:
        - spec
    ValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the spec is valid
        errors:
          type: array
          items:
            type: string
          description: Validation errors (empty if valid)
      required:
        - valid
        - errors
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: create.sh
                  status:
                    type: string
                    example: ok
  /v1/scaffold:
    post:
      operationId: scaffold
      summary: Generate a complete prim package from a prim.yaml spec. Returns file manifest with contents.
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScaffoldRequest"
      responses:
        "200":
          description: Generate a complete prim package from a prim.yaml spec. Returns file manifest with contents.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScaffoldResponse"
        "400":
          description: Invalid or missing prim.yaml spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/validate:
    post:
      operationId: validate
      summary: Validate a prim.yaml spec against the schema without generating files.
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateRequest"
      responses:
        "200":
          description: Validate a prim.yaml spec against the schema without generating files.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateResponse"
        "400":
          description: Invalid YAML
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/schema:
    get:
      operationId: getSchema
      summary: Return the prim.yaml JSON schema for agents to reference when writing specs.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: Return the prim.yaml JSON schema for agents to reference when writing specs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSchemaResponse"
  /v1/ports:
    get:
      operationId: listPorts
      summary: Return allocated ports and next available port number.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: Return allocated ports and next available port number.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPortsResponse"
