# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/create/prim.yaml + packages/create/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: create.prim.sh API
  version: 1.0.0
  description: Scaffold new prim.sh primitives. Write a prim.yaml spec, get a complete package with passing tests.
servers:
  - url: https://create.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - not_found
                - rate_limited
                - provider_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: create.sh
                  status:
                    type: string
                    example: ok
  /v1/scaffold:
    post:
      operationId: scaffold
      summary: Generate a complete prim package from a prim.yaml spec. Returns file manifest with contents.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: Generate a complete prim package from a prim.yaml spec. Returns file manifest with contents.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Invalid or missing prim.yaml spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/validate:
    post:
      operationId: validate
      summary: Validate a prim.yaml spec against the schema without generating files.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: Validate a prim.yaml spec against the schema without generating files.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Invalid YAML
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/schema:
    get:
      operationId: getSchema
      summary: Return the prim.yaml JSON schema for agents to reference when writing specs.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: Return the prim.yaml JSON schema for agents to reference when writing specs.
          content:
            application/json:
              schema:
                type: object
  /v1/ports:
    get:
      operationId: getPorts
      summary: Return allocated ports and next available port number.
      security:
        - x402: []
      x-price: $0.01
      responses:
        "200":
          description: Return allocated ports and next available port number.
          content:
            application/json:
              schema:
                type: object
