# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/faucet/prim.yaml + packages/faucet/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: faucet.prim.sh API
  version: 1.0.0
  description: Free testnet USDC and ETH on demand. Fund your agent wallet and start building.
servers:
  - url: https://faucet.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - wallet_not_allowed
                - mainnet_rejected
                - rate_limited
                - faucet_error
                - treasury_low
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    DripRequest:
      type: object
      properties:
        address:
          type: string
          description: EVM wallet address to drip to (0x... 42 chars).
      required:
        - address
    DripResponse:
      type: object
      properties:
        tx_hash:
          type: string
          description: Transaction hash on Base Sepolia.
        amount:
          type: string
          description: Amount dispensed as a decimal string (e.g. "10.00" for USDC, "0.01" for ETH).
        currency:
          type: string
          description: 'Currency dispensed: "USDC" or "ETH".'
        chain:
          type: string
          description: CAIP-2 chain identifier (e.g. "eip155:84532").
        source:
          description: Backend that dispensed the tokens. "cdp" | "treasury".
          type: string
      required:
        - tx_hash
        - amount
        - currency
        - chain
    FaucetAvailability:
      type: object
      properties:
        available:
          type: boolean
          description: Whether the faucet can be called right now for this address.
        retry_after_ms:
          type: number
          description: Milliseconds until rate limit resets. 0 if available.
      required:
        - available
        - retry_after_ms
    GetFaucetStatusResponse:
      type: object
      properties:
        address:
          type: string
          description: The queried wallet address (checksummed).
        usdc:
          description: USDC faucet availability (2-hour cooldown).
          $ref: "#/components/schemas/FaucetAvailability"
        eth:
          description: ETH faucet availability (1-hour cooldown).
          $ref: "#/components/schemas/FaucetAvailability"
      required:
        - address
        - usdc
        - eth
    RefillResult:
      type: object
      properties:
        claimed:
          type: number
        failed:
          type: number
        estimated_eth:
          type: string
        usdc_claimed:
          type: number
        usdc_failed:
          type: number
        estimated_usdc:
          type: string
        tx_hashes:
          type: array
          items:
            type: string
      required:
        - claimed
        - failed
        - estimated_eth
        - usdc_claimed
        - usdc_failed
        - estimated_usdc
        - tx_hashes
    TreasuryStatus:
      type: object
      properties:
        address:
          type: string
        eth_balance:
          type: string
        usdc_balance:
          type: string
        needs_refill:
          type: boolean
      required:
        - address
        - eth_balance
        - usdc_balance
        - needs_refill
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: faucet.sh
                  status:
                    type: string
                    example: ok
  /v1/faucet/usdc:
    post:
      operationId: dripUsdc
      summary: "Dispense 10 test USDC on Base Sepolia. Rate limit: once per 2 hours per address."
      description: Free. No x402 payment required.
      security:
        - x402: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DripRequest"
      responses:
        "200":
          description: "Dispense 10 test USDC on Base Sepolia. Rate limit: once per 2 hours per address."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DripResponse"
        "400":
          description: Missing or invalid address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Faucet only operates on testnet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Address already dripped within 2 hours. retryAfter in response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Both CDP and treasury fallback failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/faucet/eth:
    post:
      operationId: dripEth
      summary: "Dispense 0.01 test ETH on Base Sepolia. Rate limit: once per 1 hour per address."
      description: Free. No x402 payment required.
      security:
        - x402: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DripRequest"
      responses:
        "200":
          description: "Dispense 0.01 test ETH on Base Sepolia. Rate limit: once per 1 hour per address."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DripResponse"
        "400":
          description: Missing or invalid address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Faucet only operates on testnet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Address already dripped within 1 hour. retryAfter in response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Treasury wallet failed to send ETH
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Treasury ETH too low. Call POST /v1/faucet/refill.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/faucet/status:
    get:
      operationId: getFaucetStatus
      summary: Check rate limit status for a wallet address across both faucets.
      description: Free. Call this before dripping to avoid 429s.
      security:
        - x402: []
      parameters:
        - name: address
          in: query
          description: EVM wallet address (required)
          schema:
            type: string
      responses:
        "200":
          description: Check rate limit status for a wallet address across both faucets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFaucetStatusResponse"
        "400":
          description: Missing or invalid address query param
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/faucet/treasury:
    get:
      operationId: getTreasuryStatus
      summary: Check treasury wallet ETH balance and refill status.
      description: Free. No allowlist required.
      security:
        - x402: []
      responses:
        "200":
          description: Check treasury wallet ETH balance and refill status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TreasuryStatus"
        "502":
          description: TESTNET_WALLET not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/faucet/refill:
    post:
      operationId: refillTreasury
      summary: Batch-claim testnet ETH from Coinbase CDP faucet into treasury. Rate limited to once per 10 minutes.
      description: Free. No allowlist required. Requires CDP_API_KEY_ID and CDP_API_KEY_SECRET.
      security:
        - x402: []
      responses:
        "200":
          description: Batch-claim testnet ETH from Coinbase CDP faucet into treasury. Rate limited to once per 10 minutes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefillResult"
        "429":
          description: Refill called within 10 minutes. retryAfter in response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: CDP API keys not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
