# Generated by gen:openapi
# THIS FILE IS GENERATED — DO NOT EDIT
# Source: packages/search/prim.yaml + packages/search/src/api.ts
# Regenerate: pnpm gen:openapi

openapi: 3.1.0
info:
  title: search.prim.sh API
  version: 1.0.0
  description: Search for agents. No ads, no SEO spam. Just facts and clean markdown.
servers:
  - url: https://search.prim.sh
security:
  - x402: []
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: |
        EIP-3009 signed payment authorization. Server issues a 402 challenge; client signs and retries.
        See https://prim.sh/pay for the full x402 payment flow.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - rate_limited
                - provider_error
              description: Machine-readable error code.
            message:
              type: string
              description: Human-readable error message.
    ExtractRequest:
      type: object
      required:
        - urls
      properties:
        urls:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: URL string or array of URLs to extract content from.
        format:
          type: string
          enum:
            - markdown
            - text
          description: Output format. "markdown" | "text", default "markdown".
    ExtractResponse:
      type: object
      required:
        - results
        - failed
        - response_time
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/ExtractResult"
          description: Successfully extracted pages.
        failed:
          type: array
          items:
            $ref: "#/components/schemas/FailedExtraction"
          description: Pages that could not be extracted.
        response_time:
          type: number
          description: Time taken to complete the extraction in milliseconds.
    ExtractResult:
      type: object
      required:
        - url
        - content
      properties:
        url:
          type: string
          description: The URL that was extracted.
        content:
          type: string
          description: Extracted content in the requested format.
        images:
          type: array
          items:
            type: string
          description: Image URLs found on the page. May be empty.
    FailedExtraction:
      type: object
      required:
        - url
        - error
      properties:
        url:
          type: string
          description: The URL that failed extraction.
        error:
          type: string
          description: 'Human-readable reason (e.g. "HTTP 404: page not found").'
    SearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Search query string.
        max_results:
          type: number
          description: Maximum number of results to return. 1-20, default 10.
        search_depth:
          type: string
          enum:
            - basic
            - advanced
          description: Search depth. "basic" | "advanced", default "basic".
        country:
          type: string
          description: Two-letter ISO 3166-1 country code to bias results (e.g. "US").
        time_range:
          type: string
          enum:
            - day
            - week
            - month
            - year
          description: Restrict results by recency. "day" | "week" | "month" | "year".
        include_answer:
          type: boolean
          description: Include AI-generated answer summarizing top results. Default false.
        include_domains:
          type: array
          items:
            type: string
          description: Restrict results to these domains only (e.g. ["docs.base.org"]).
        exclude_domains:
          type: array
          items:
            type: string
          description: Exclude results from these domains (e.g. ["reddit.com"]).
    SearchResponse:
      type: object
      required:
        - query
        - results
        - response_time
      properties:
        query:
          type: string
          description: Search query echoed back.
        answer:
          type: string
          description: AI-generated answer summarizing top results. Only present if include_answer was true.
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResult"
          description: Ranked search results.
        response_time:
          type: number
          description: Time taken to complete the search in milliseconds.
    SearchResult:
      type: object
      required:
        - title
        - url
        - content
        - score
      properties:
        title:
          type: string
          description: Page title.
        url:
          type: string
          description: Page URL.
        content:
          type: string
          description: Snippet text extracted from the page.
        score:
          type: number
          description: Relevance score (0-1).
        published:
          type: string
          description: Publication date (ISO 8601). Only present if available.
paths:
  /:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service status. Free — no x402 payment required.
      security: []
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - service
                  - status
                properties:
                  service:
                    type: string
                    example: search.sh
                  status:
                    type: string
                    example: ok
  /v1/search:
    post:
      operationId: searchWeb
      summary: Search the web and return ranked results with optional AI-generated answer
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: Search the web and return ranked results with optional AI-generated answer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Missing or invalid query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests. Check Retry-After header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream search provider unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/search/news:
    post:
      operationId: searchNews
      summary: Search for recent news articles, ordered by recency
      security:
        - x402: []
      x-price: $0.01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: Search for recent news articles, ordered by recency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Missing or invalid query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream search provider unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/extract:
    post:
      operationId: extractUrl
      summary: Extract readable content from one or more URLs as markdown or plain text
      description: Failed extractions are in the failed array. Request succeeds if at least one URL was attempted.
      security:
        - x402: []
      x-price: $0.005
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExtractRequest"
      responses:
        "200":
          description: Extract readable content from one or more URLs as markdown or plain text
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtractResponse"
        "400":
          description: Missing urls field or invalid URL format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: x402 payment required.
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream extraction provider unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
